<!doctype html>
<html>

<head>
        <title>Poetry Machine</title>
</head>

<body>
        <header>
                <img src="/img/logo.png" alt="Poetry Bird">
        </header>
        {{{body}}}
</body>

</html>
